
<div class="limiter">
    <div class="container-login100">
       
      <div class="wrap-login100 p-t-50 p-b-90">
         
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login100-form validate-form flex-sb flex-w">
          <span class="login100-form-title p-b-51">
            Login
          </span>
  
          <div class="invalid-feedback" *ngIf="loginError!=''">{{loginError}}</div>

          <div class="wrap-input100 validate-input m-b-16" >
            <input class="input100" type="text"  formControlName="username" placeholder="Username">
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">username is required!</div>
        </div>
       
          
          
          <div class="wrap-input100 validate-input m-b-16" >
            <input class="input100" type="password" formControlName="password" placeholder="Password">
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required!</div>
        </div>
  
          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn" type="submit">
              Login
            </button>
          </div>
          <div class="flex-sb-m w-full p-t-3 p-b-24" style="margin-left: 43%;">
            <div>
              <a href="#" class="txt1" routerLink="/register" >
                Sign Up?
              </a>
            </div>
          </div>
        </form>
      </div>
      
     
    </div>
  
  </div>
  
 
  