/* You can add global styles to this file, and also import other style files */
.invalid-feedback{
    color:red;
    display: block !important;
    font-size: 15px !important
}
.m-b-16 {
    margin-bottom: 8px !important;
}
.sidenav {
    height: 100%;
    width: 185px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .err-msg{
    color: red
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 185px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .heading{
    align-items: center;
    text-align: center;
    margin-top: 30px;
  
  }
  .err-msg{
    font-size: 15px
  }
  label{
    font-size: 19px;
  }
  
