<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
              </li>
          </ul>
      </div> -->
  </div>
</nav>
<div class="sidenav">
    <a style="margin-top: 28%;" class="alignText" routerLink="/subUser">Add Sub User</a>
    <a class="alignText" routerLink="/add-shop">Add Shop</a>
    <a class="alignText" routerLink="/all-shops">All Shops</a>
    <a class="alignText" style="cursor: pointer" (click)="logout()">Logout</a>
  </div>